<movie-header></movie-header>
<div ng-if="mainCtrl.preload == true" class="preloading">
    <img ng-if="mainCtrl.error == false" ng-src={{mainCtrl.loadImage('loading.gif')}}>
    <span class="error" ng-if="mainCtrl.error == true">Ooops! Somthing went wrong...<br> Try to reload page later!</span>
</div>
<div class="center content" ng-animate>
    <h2>Top 20 Movies in History</h2>
    
    <div ng-if="mainCtrl.preload == false" class="top-films">
        <div ng-repeat="item in mainCtrl.data track by $index" class="top-films-box" ng-animate>
            <div class="top-films-item-top">
                <img ng-src="{{item.urlPoster}}">
                <div></div>
                <span class="top-films-rating">{{item.rating}}</span>
            </div>
            <h3 class="top-films-title">{{item.title}}</h3>
            <div class="top-films-item">
                <a ng-href="http://www.imdb.com/name/{{director.id}}" ng-repeat="director in item.directors">{{director.name}}</a>
            </div>
            <div class="top-films-item">
                <span class="inline" ng-repeat="ganre in item.ganres">{{ganre}}</span>
            </div>
            <div class="top-films-item">
                <span class="inline" ng-repeat="country in item.countries">{{country}}</span>
            </div>
            <div class="top-films-item">
                <span >{{item.year}}</span>
            </div>
            <div class="top-films-item-bottom">
            	<button class="like-btn" liked="item" ng-click="mainCtrl.favorite(this)">❤</button>
            </div>
        </div>
    </div>
</div>
